<tool id="{{ project_name.lower().replace(' ', '-').replace('_', '-') }}-prototype" {% if application_type in ['Nova Application', 'Tutorial'] %}nova_category="{{ tool_category }}{% if tool_category == 'generic' %}-tools{% endif %}" tool_type="interactive" {% endif %} name="{{ project_name }}" version="@TOOL_VERSION@" profile="22.01">
    <description>{{ project_name }} - A tool generated using the NOVA Application Template</description>
    <requirements>
        <container type="docker" shell="/bin/bash">@CONTAINER_REGISTRY@/@CONTAINER_PATH@:@CONTAINER_TAG@</container>
    </requirements>
    {% if application_type in ['Nova Application', 'Tutorial'] %}<entry_points>
        <entry_point name="app entry" label="app_entry" requires_domain="False" requires_path_in_url="True">
            <port>8081</port>
        </entry_point>
    </entry_points>{% endif %}
    <environment_variables>
        <environment_variable name="GALAXY_URL">$__galaxy_url__</environment_variable>
        <environment_variable name="GALAXY_API_KEY" inject="api_key"/>
        <environment_variable name="HISTORY_ID">$__history_id__</environment_variable>
        <environment_variable name="EP_PATH" inject="entry_point_path_for_label">app_entry</environment_variable>
    </environment_variables>
     <command><![CDATA[
        {% if application_type in ['Nova Application', 'Tutorial'] and framework == 'Trame' %}supervisord > >(tee -a $output) 2> >(tee -a $output >&2)
        {% elif application_type == 'Minimal' %} echo "Container ran successfully."
        {% else %}python3.10 -m {{ python_package | replace('-', '_') }} > >(tee -a $output) 2> >(tee -a $output >&2){% endif %}
    ]]></command>
    <outputs>
        <data format="txt" name="output" label="Console output"></data>
    </outputs>
    <help><![CDATA[
        **{{ project_name }}**
        
        This is a Galaxy tool for {{ project_name }}.
        
        For more information, see the repository: https://code.ornl.gov/ndip/tool-sources/{{ tool_category }}/{{ project_name.lower().replace(' ', '-').replace('_', '-') }}
    ]]></help>
</tool>