{
    "configurations": [{
        "name": "Launch",
        "type": "debugpy",
        "request": "launch",
        "cwd": "${workspaceFolder}",
        "module": "{{ python_package | replace('-', '_') }}",
        "args": []
    }]
}
